/* Google I/O Widget  */

#google-io-widget-container {
  width: 100%;
  height: 450px;
}
#google-io-widget {
  width: 100%;
  height: 100%;
}

/* Map Elements */

#map-container {
  width: 100%;
  height: 500px;
}
#map {
  height: 100%;
}
#map-text {
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 20px;
  text-align: center;
  background-color: #455A64;
  color: #fff;
}
#map-directions-button {
  position: absolute;
  margin-top: 400px;
  right: 10px;
}

/* Countdown Clock */
#countdown-clock-container {
  font-family: Roboto, sans-serif;
  font-size: 70px;
  margin: 40px;
  color: #455A64;
  text-align: left;
}
#countdown-clock {
  font-family: sans-serif;
  color: #455A64;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 200px;
  margin: 50px;
}
#countdown-clock > div {
  padding: 10px;
  border-radius: 3px;
  background: #fff;
  display: inline-block;
}
#countdown-clock div > span {
  padding: 15px;
  border-radius: 3px;
  background: #fff;
  display: inline-block;
}
.smalltext {
  padding-top: 5px;
  font-size: 16px;
}
