#intro-container, #event-container, #sponsors-container {
  text-align: center;
  color: #455A64;
}
#intro-container #title, #event-container #title, #sponsors-container #title {
  font-family: 'Product Sans', sans-serif;
  font-weight: bold;
  font-size: 70px;
  font-style: italic;
}
#intro-container #body, #event-container #body, #sponsors-container #body {
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
}
#sponsorship-link-button {
  font-size: 20px;
}
hr {
  margin-top: 100px;
  margin-left: 50px;
  margin-right: 50px;
  color: #455A64;
  opacity: .3;
}
