@import url("components/toolbar.css");
@import url("components/map.css");
@import url("components/countdownclock.css");
@import url("components/sponsors.css");

.gdg-Header {
  height: 100%;
  width: 100%;
}
.gdg-Header-content {
  top: 20%;
  position: absolute;
  width: 100%;
}
.gdg-Header-text {
  color: #fff;
  font-family: 'Amatic SC', cursive;
  font-size: 100px;
  text-align: center;
}
.gdg-Header-verticalLine {
  height: auto;
  width: 2px;
  background: #fff;
  margin-left: 30px;
  margin-right: 30px;
}
.gdg-Header-image {
  position: absolute;
}
.gdg-Header-imageFilter {
  position: absolute;
  background: #455A64;
  opacity: .7;
}
.gdg-Content {
  /*margin-top: 100px;*/
}
.gdg-Content-buttonWrapper {
  margin: auto;
  width: 200px;
}
.gdg-Content-button {
  color: #fff;
  width: inherit;
}
.gdg-Content-textHeader {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 60px;
  color: #455A64;
}
.gdg-Content-textParagraph {
  font-family: 'Amatic SC', cursive;
  text-align: justify;
  font-size: 40px;
  color: #455A64;
  padding-left: 50px;
  padding-right: 50px;
}
.gdg-Content-image {
  position: absolute;
}
.gdg-Content-imageFilter {
  position: absolute;
  background: #455A64;
  opacity: .7;
}
.gdg-Footer {
  position: relative;
  margin: 15px;
  height: 200px;
  background-color: #455A64;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: #fff;
}
.gdg-Footer-text {
  margin: 20px;
}
.gdg-SocialMediaButtons {
  border-bottom: solid;
  padding: 10px;
}
.gdg-wrapSocialMediaButton {
  margin-left: 30px;
  margin-right: 30px;
}
