/* General Content */

.md-toolbar-tools-collapse {
  display: none;
}
.menu-items {
  font-weight: bold;
  color: #fff;
}
#header-gdg-logo img {
  display: block;
  width: 100%;
  height: auto;
}
#paypal-button {
  position: relative;
  height: 25px;
  width: 100px;
}
#paypal-button-image {
  height: 100%;
  width: 100%;
}
.footer {
  margin: 15px;
  height: 200px;
  background-color: #006064;
}
.footer {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: #fff;
}
.footer div {
  margin: 10px;
}
#social-media-buttons-container {
  border-bottom: solid;
}
#social-media-button {
  margin-left: 30px;
  margin-right: 30px;
}
.max #header-gdg-logo img {
  display: block;
  width: 100%;
  height: auto;
}
.min #toolbar {
  top: 0px;
  position: absolute;
}
.min md-toolbar {
  position: fixed;
}
.min .toolbar-container {
  height: 60px;
  width: 100%;
}
.min #header-gdg-logo img {
  height: 60px;
  width: auto;
}
