.header-background-text {
  position: absolute;
  display: inline;
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px
}
#header-background-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: blur(6px)
}
#filter, #img-container h2, .header {
  width: 100%;
  height: 100%
}
#googliness {
  display: block;
  text-align: left;
  font-size: 70px;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  margin-top: 15%
}
#definition, #noun {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  margin-top: 15%
}
#noun {
  display: inline;
  text-align: center;
  font-size: 25px;
  font-style: italic
}
#definition, #img-container h2 {
  display: inline;
  text-align: center;
  font-size: 30px
}
#img-container {
  position: relative;
}
#img-container h2 {
  position: absolute;
  padding-top: 150px;
  color: #fff
}
#paypal-button {
  position: relative;
  height: 25px;
  width: 100px;
}
#paypal-button-image {
  height: 100%;
  width: 100%;
}
#filter {
  background: #006064;
  opacity: .7;
  display: inline;
  position: absolute
}
.portrait-container {
  margin: auto;
}
.portrait-name {
  margin: auto;
  margin-top: 20px;
  font-weight: bold;
  color: #006064;
}
.circle-container {
  perspective: 1000;
  margin: auto;
}
.circle-container:hover .circle {
  transform: rotate3d(0, 90, 0, 180deg);
}
.circle-container, .front, .back {
  width: 200px;
  height: 200px;
}
.portrait-bottom-row {
  margin: 100px;
}
.circle {
  transition: 0.5s;
  transform-style: preserve-3d;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
  -moz-border-radius: 200px/200px;
  -webkit-border-radius: 200px 200px;
  border-radius: 200px/200px;
  border: solid 2px #006064;
  width: 200px;
  height: 200px;
}
.front, .back {
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  backface-visibility: hidden;
  position: absolute;
}
.back p {
  margin-top: 50px;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.back {
  transform: rotate3d(0, 90, 0, 180deg);
  background-color: #006064;
}
.back-logo {
  width: 60%;
  display: block;
  margin: 2em auto;
}
.contact-form {
  width: 60%;
}
.angular-google-map-container {
  width: 500px;
  height: 500px;
}
md-input-container {
  margin: 50px;
}
.cards {
  margin: 100px;
}
.header {
  color: #fff;
  top: 0;
  left: 0
}
.footer {
  margin: 15px;
  height: 200px;
  background-color: #006064
}
.fabSpeedDial md-fab-speed-dial {
  position: fixed;
  float: right;
  right: 70px;
  bottom: 70px
}
#menu-button {
  transition: transform 1s
}
#menu-button:hover {
  transform: rotate(180deg)
}
