#sponsorship-packet-button {
  padding: 10px;
  color: #fff;
}
#sponsors-list {
  height: 100%;
  width: 100%;
}
#sponsors-text {
  font-style: italic;
  text-align: left;
  margin-left: 50px;
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
}
.sponsors-platinum div {
  background-color: #e5e4e2;
}
.sponsors-gold div {
  background-color: #CFB53B;
}
.sponsors-silver div {
  background-color: #C0C0C0;
}
.sponsors-bronze div {
  background-color: #8C7853;
}
.sponsors div {
  margin: 40px;
  height: 100px;
  width: 100px;
}
