.gdg-Content {
  height: 600px;
  width: 100%;
}
.gdg-Content-buttonWrapper {
  margin: auto;
  width: 200px;
}
.gdg-Content-button {
  color: #fff;
  width: inherit;
}
.gdg-Content-textHeader {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 60px;
  color: #455A64;
}
.gdg-Content-textParagraph {
  font-family: 'Amatic SC', cursive;
  text-align: justify;
  font-size: 40px;
  color: #455A64;
  padding-left: 50px;
  padding-right: 50px;
}
.gdg-Content-image {
  position: absolute;
}
.gdg-Content-imageFilter {
  position: absolute;
  background: #455A64;
  opacity: .7;
}
