
.gdg-CountDownClock {
  margin-top: 2em;
  position: absolute;
  bottom: 30%;
  width: 75%;
}
.gdg-CountDownClock-clock {
  font-weight: 100;
}
.gdg-CountDownClock-cell {
    text-align: center;
    width: 35%;
}
.gdg-CountDownClock-text {
    font-size: 1.75em;
}
.gdg-CountDownClock-time {
    font-size: 6em;
}
