.gdg-Speaker {
  height: 300px;
  width: 250px;
  background-color: #455A64;
  margin-bottom: 30px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}
.gdg-Speaker-blank {
  background-color: #fff;
  color: #fff;
}
.gdg-Speaker-text {
  height: 300px;
  width: 33.4%;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  margin-bottom: 150px;
}
