<!doctype html>
<html ng-app="gdgWebappApp">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,400'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Product+Sans'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Quicksand'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Amatic+SC'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Coming+Soon'>
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/media.css">
  <!-- endbuild -->
</head>

<body ng-controller="AppCtrl as app">
  <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <div class="gdg-Toolbar">
    <div>
      <div>
        <img class="gdg-Toolbar-image" src="images/banner/gdg-logo.png" alt="Logo">
      </div>
      <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="gdg-Toolbar-button" md-no-ink ng-click="scrollToTop()">Home</md-button>
        <md-button class="gdg-Toolbar-button" md-no-ink ng-click="gotoElement('event')">Events</md-button>
        <md-button class="gdg-Toolbar-button" md-no-ink ng-click="gotoElement('sponsors')">Sponsors</md-button>
        <md-button class="gdg-Toolbar-button" md-no-ink ng-click="gotoElement('about')">About</md-button>
        <md-button class="gdg-Toolbar-button" md-no-ink ng-href="mailto:hello@gdggr.org">Contact</md-button>
        <div class="gdg-PaypalButton">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="58VZ3G8JDUDYN">
            <input type="image" class="gdg-PaypalButton-image" src="http://gdggr.org/images/buttons/paypal.cebf9951.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
          <md-tooltip md-direction="bottom">
            Donate Now
          </md-tooltip>
        </div>
      </div>
    </div>
  </div>

  <div class="gdg-Header gdg-Header--large gdg-Header--small">
    <div class="gdg-Header">
      <img class="gdg-Header gdg-Header-image" src="images/banner/harris.jpg" alt="Background">
      <div class="gdg-Header gdg-Header-imageFilter"></div>
    </div>
    <div class="gdg-Header-content">
      <div class="gdg-Header-text gdg-Header-text--medium">
        Google I/O Extended
      </div>
      <div class="gdg-Header-text gdg-Header-text--large">
        Welcome
      </div>
      <!-- <div class="gdg-CountDownClock">
        <div class="gdg-CountDownClock-clock" id="clock" layout="row" layout-align="center">
          <div class="gdg-CountDownClock-time" flex>
            <span class="days"></span>
            <div class="gdg-CountDownClock-text">Days</div>
          </div>
          <div class="gdg-CountDownClock-line gdg-CountDownClock-hide"></div>
          <div class="gdg-CountDownClock-time gdg-CountDownClock-hide" flex>
            <span class="hours"></span>
            <div class="gdg-CountDownClock-text">Hours</div>
          </div>
          <div class="gdg-CountDownClock-line gdg-CountDownClock-hide"></div>
          <div class="gdg-CountDownClock-time gdg-CountDownClock-hide" flex>
            <span class="minutes"></span>
            <div class="gdg-CountDownClock-text">Minutes</div>
          </div>
          <div class="gdg-CountDownClock-line gdg-CountDownClock-hide"></div>
          <div class="gdg-CountDownClock-time gdg-CountDownClock-hide" flex>
            <span class="seconds"></span>
            <div class="gdg-CountDownClock-text">Seconds</div>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <div class="gdg-Content" layout="column">
    <div class="gdg-Map" layout="column" layout-xs="column">
      <md-button class="gdg-Map-button md-fab md-accent" ng-href="https://www.google.com/maps/dir/My+location/The+Harris+Building,+111+Division+Avenue+South,+Grand+Rapids,+MI+49503/data=!4m6!4m5!1m0!1m2!1m1!1s0x8819adc1692c3f0f:0x8e6cf7674a616831!3e0?sa=X&ved=0ahUKEwjHoM785YbMAhXDQyYKHbLyAvEQox0IJzAA"
        target="_blank" aria-label="Directions">
        <svg class="gdg-Map-buttonImg" fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24">
            <path d="M21.71 11.29l-9-9c-.39-.39-1.02-.39-1.41 0l-9 9c-.39.39-.39 1.02 0 1.41l9 9c.39.39 1.02.39 1.41 0l9-9c.39-.38.39-1.01 0-1.41zM14 14.5V12h-4v3H8v-4c0-.55.45-1 1-1h5V7.5l3.5 3.5-3.5 3.5z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
        <md-tooltip md-direction="left">
          Directions
        </md-tooltip>
      </md-button>
      <div id="map-text">
        <span class="gdg-Map-text gdg-Map-textHeader">Harris Building</span>
        <br/>
        <span class="gdg-Map-text gdg-Map-textBody">May 18th</span>
        <br/>
        <span class="gdg-Map-text gdg-Map-textBody">8am - 6pm + After Party</span>
      </div>
      <div id="map" flex></div>
    </div>

    <div class="gdg-Content-text" id="event">
      Our event is approaching and there's a couple of things you should consider!
    </div>

    <div class="gdg-Content-cards" layout="row" layout-xs="column" layout-align="space-around">
      <div class="gdg-Content-cardWrapper">
        <md-card class="gdg-Content-card">
          <img class="md-card-image" src="images/banner/harris.jpg" alt="Background">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Schedule</span>
              <span class="md-subhead">We live-stream the Google I/O Keynote and fill the rest of your day with live presentations from local and regional speakers spanning design, development, and local start-ups.</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-actions class="gdg-Content-buttonWrapper" layout="row" layout-align="center center">
            <md-button class="gdg-Content-button md-raised md-accent" target="_blank" href="/images/documents/schedule.pdf">Event Schedule</md-button>
          </md-card-actions>
        </md-card>
      </div>
      <div class="gdg-Content-cardWrapper">
        <md-card class="gdg-Content-card">
          <img class="md-card-image" src="images/banner/harris.jpg" alt="Background">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Register</span>
              <span class="md-subhead">Google I/O is approaching! And our extended event is approaching with it. Purchase a ticket below.</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-actions class="gdg-Content-buttonWrapper" layout="row" layout-align="center center">
            <md-button target="_blank" class="gdg-Content-button md-raised md-accent" href="https://www.eventbrite.com/e/google-io-extended-grand-rapids-2016-registration-21971803255">Register Now</md-button>
          </md-card-actions>
        </md-card>
      </div>
      <div class="gdg-Content-cardWrapper">
        <md-card class="gdg-Content-card">
          <img class="md-card-image" src="images/banner/harris.jpg" alt="Background">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Sponsors</span>
              <span class="md-subhead">Our sponsors are what allows us to bring great content to you. We couldn't do it without them! If you're interested in becoming a sponsor, download our sponsorship packet today!</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-actions class="gdg-Content-buttonWrapper" layout="row" layout-align="center center">
            <md-button target="_blank" class="gdg-Content-button md-raised md-accent" href="/images/documents/sponsorship_prospectus.pdf">Download</md-button>
          </md-card-actions>
        </md-card>
      </div>
    </div>

    <div class="gdg-Content-text">
      Here's a preview for our upcoming speakers at our Google I/O Extended event
    </div>

    <div class="gdg-Speakers" layout="column">
      <div layout="row">
        <div class="gdg-Speaker-imageRowWrapper" layout="row" layout-xs="column">
          <div class="gdg-Speaker-title"><b>Keynote Introduction</b></div>
          <div class="gdg-Speaker-imageWrapper">
            <div>
              <img class="gdg-Speaker-image" src="images/presenters/rick_devos.jpg" alt="Rick DeVos">
            </div>
            <div class="gdg-Speaker-text"><b>Rick DeVos</b>, Start Garden</div>
          </div>
          <div class="gdg-Speaker-imageWrapper" hide-xs></div>
          <div class="gdg-Speaker-imageWrapper" hide-xs></div>
        </div>
      </div>
      <div layout="row">
        <div class="gdg-Speaker-imageRowWrapper" layout="row" layout-xs="column">
          <div class="gdg-Speaker-title"><b>Start Garden</b> Seamless IoT panel - <i>From Dumb Things to Smart Things</i></div>
          <div class="gdg-Speaker-imageWrapper">
            <div>
              <img class="gdg-Speaker-image" src="images/presenters/brian_scott.jpg" alt="Brian Scott">
            </div>
            <div class="gdg-Speaker-text"><b>Brian Scott</b>, Amway</div>
          </div>
          <div class="gdg-Speaker-imageWrapper">
            <div>
              <img class="gdg-Speaker-image" src="images/presenters/ryan_schmidt.jpg" alt="Ryan Schmidt">
            </div>
            <div class="gdg-Speaker-text"><b>Ryan Schmidt</b>, Steelcase</div>
          </div>
          <div class="gdg-Speaker-imageWrapper">
            <div>
              <img class="gdg-Speaker-image" src="images/presenters/james_hotary.jpg" alt="James Hotary">
            </div>
            <div class="gdg-Speaker-text"><b>Jim Hotary</b>, Faurecia</div>
          </div>
        </div>
      </div>
      <div layout="row">
        <div class="gdg-Speaker-imageRowWrapper" layout="row" layout-xs="column">
          <div class="gdg-Speaker-title"><b>Individual Speakers</b></div>
          <div class="gdg-Speaker-imageWrapper">
            <div>
              <img class="gdg-Speaker-image" src="images/presenters/shannon_mccormick.jpg" alt="Shannon McCormick">
            </div>
            <div class="gdg-Speaker-text"><i>Neural Networks and Google Tensor Flow</i> by <b>Shannon McCormick</b> (@slmerb04)</div>
          </div>
          <div class="gdg-Speaker-imageWrapper">
            <div>
              <img class="gdg-Speaker-image" src="images/presenters/david_rodriguez.jpg" alt="David Rodriguez">
            </div>
            <div class="gdg-Speaker-text"><i>Kubernetes, Docker, and Jenkins</i> by <b>David Rodriguez</b> (@rodrigdav), SpinDance, Inc.</div>
          </div>
          <div class="gdg-Speaker-imageWrapper">
            <div>
              <img class="gdg-Speaker-image" src="images/presenters/jeff_wheeler.jpg" alt="Jeff Wheeler">
            </div>
            <div class="gdg-Speaker-text"><i>Art Prize Scaling to Cloud</i> by <b>Jeff Wheeler</b> (@jeffreypwheeler), Art Prize</div>
          </div>
        </div>
      </div>
      <div layout="row">
        <div class="gdg-Speaker-imageRowWrapper" layout="row" layout-xs="column">
          <div class="gdg-Speaker-title"></div>
          <div class="gdg-Speaker-imageWrapper">
            <div>
              <img class="gdg-Speaker-image" src="images/presenters/steve_smith.jpg" alt="Steve Smith">
            </div>
            <div class="gdg-Speaker-text"><i>Git Better</i> by <b>Steve Smith</b> (@orderedlist), GitHub</div>
          </div>
          <div class="gdg-Speaker-imageWrapper">
            <div>
              <img class="gdg-Speaker-image" src="images/presenters/mike_bopp.png" alt="Michael Bopp">
            </div>
            <div class="gdg-Speaker-text"><i>Functional Reactive Programming & Reactive Cocoa</i> by <b>Michael Bopp</b> (@mwbopp)</div>
          </div>
          <div class="gdg-Speaker-imageWrapper">
            <div>
              <img class="gdg-Speaker-image" src="images/presenters/aaron_and_larry.png" alt="Larry Martin and Aaron VanProoyen">
            </div>
            <div class="gdg-Speaker-text"><i>Indie Game Development Made Us Better At Life</i> by <b>Larry Martin</b> & <b>Aaron VanProoyen</b> (@magicrat_larry)</div>
          </div>
        </div>
      </div>
      <div layout="row">
        <div class="gdg-Speaker-imageRowWrapper" layout="row" layout-xs="column">
          <div class="gdg-Speaker-title"></div>
          <div class="gdg-Speaker-imageWrapper">
            <div>
              <img class="gdg-Speaker-image" src="images/presenters/brian_tol.jpg" alt="Brian Tol">
            </div>
            <div class="gdg-Speaker-text"><i>The Internet of Things for Food and Profit</i> by <b>Brian Tol</b> (@SpinDanceInc), SpinDance, Inc.</div>
          </div>
          <div class="gdg-Speaker-imageWrapper">
            <div>
              <img class="gdg-Speaker-image" src="images/presenters/dave_schoutens.jpg" alt="Dave Schoutens">
            </div>
            <div class="gdg-Speaker-text"><i>The Data is the API</i> by <b>Dave Schoutens</b> (@DaveSchoutens), BravoLT</div>
          </div>
          <div class="gdg-Speaker-imageWrapper">
            <div>
              <img class="gdg-Speaker-image" src="images/presenters/karen_vanhouten.jpg" alt="Karen VanHouten">
            </div>
            <div class="gdg-Speaker-text"><i>The Dollars and Cents of UX</i> by <b>Karen VanHouten</b> (@kvh_ia)</div>
          </div>
        </div>
      </div>
      <div layout="row">
        <div class="gdg-Speaker-imageRowWrapper" layout="row" layout-xs="column">
          <div class="gdg-Speaker-title"></div>
          <div class="gdg-Speaker-imageWrapper">
            <div>
              <img class="gdg-Speaker-image" src="images/presenters/kendrick_cline.jpg" alt="Kendrick Cline">
            </div>
            <div class="gdg-Speaker-text"><i>Running your Cloud like Google with the Google Cloud Platform</i> by <b>Kendrick Cline</b> (@Kendrick_Cline)</div>
          </div>
          <div class="gdg-Speaker-imageWrapper">
            <div>
              <img class="gdg-Speaker-image" src="images/presenters/christy_ennis-kloote.jpg" alt="Christy Ennis-Kloote">
            </div>
            <div class="gdg-Speaker-text"><i>Product Design Parallels</i> by <b>Christy Ennis-Kloote</b> (@EnnisKloote)</div>
          </div>
          <div class="gdg-Speaker-imageWrapper">
            <div>
              <img class="gdg-Speaker-image" src="images/presenters/erik_dahl.png" alt="Erik Dahl">
            </div>
            <div class="gdg-Speaker-text"><i>Designing Our Futures</i> by <b>Erik Dahl</b> (@eadahl)</div>
          </div>
        </div>
      </div>
      <div layout="row">
        <div class="gdg-Speaker-imageRowWrapper" layout="row" layout-xs="column">
          <div class="gdg-Speaker-title"></div>
          <div class="gdg-Speaker-imageWrapper">
            <div>
              <img class="gdg-Speaker-image" src="images/presenters/kevin_white.jpg" alt="Kevin White">
            </div>
            <div class="gdg-Speaker-text"><i>Uniting through narrative: How storyboarding can impact business, design and development</i> by <b>Kevin White</b></div>
          </div>
          <div class="gdg-Speaker-imageWrapper" hide-xs></div>
          <div class="gdg-Speaker-imageWrapper" hide-xs></div>
        </div>
      </div>
    </div>

    <div class="gdg-Content-text" id="sponsors">
      Here's a list of our sponsors
    </div>

    <div class="gdg-Sponsors" layout="column">
      <md-content>
        <md-tabs class="gdg-Sponsors-tabs md-accent" md-selected="selectedIndex" md-center-tabs="true" md-border-bottom>
          <md-tab label="Platinum">
            <md-content class="md-padding">
              <div layout="row" layout-align="center center" layout-xs="column">
                <img class="gdg-Sponsors-image" ng-click="open('http://www.bravolt.com/')" src="images/sponsors/bravolt.png" alt="BravoLT">
                <img class="gdg-Sponsors-image" ng-click="open('http://www.spectrumhealth.org/')" src="images/sponsors/spectrum.png" alt="Spectrum Health">
                <img class="gdg-Sponsors-image" ng-click="open('http://www.leanlogistics.com/')" src="images/sponsors/leanlogistics.png" alt="Lean Logistics">
              </div>
            </md-content>
          </md-tab>
          <md-tab label="Gold">
            <md-content class="md-padding">
              <div layout="row" layout-align="center center" layout-xs="column">
                <img class="gdg-Sponsors-image" ng-click="open('https://spindance.com/')" src="images/sponsors/spindance.png" alt="Spindance">
                <img class="gdg-Sponsors-image" ng-click="open('http://www.ostusa.com/')" src="images/sponsors/ost.png" alt="OST">
                <img class="gdg-Sponsors-image" ng-click="open('http://newhollandbrew.com/')" src="images/sponsors/newhollandbrewing.png" alt="New Holland Brewing">
              </div>
              <div layout="row" layout-align="center center" layout-xs="column">
                <img class="gdg-Sponsors-image" ng-click="open('http://startgarden.com/')" src="images/sponsors/startgarden.png" alt="Start Garden">
              </div>
            </md-content>
          </md-tab>
          <md-tab label="Silver">
            <md-content class="md-padding">
              <div layout="row" layout-align="center center" layout-xs="column">
                <img class="gdg-Sponsors-image" ng-click="open('http://www.twisthink.com/')" src="images/sponsors/twistthink.png" alt="Twistthink">
                <img class="gdg-Sponsors-image" ng-click="open('http://modustri.com/')" src="images/sponsors/modustri.png" alt="Modustri">
                <img class="gdg-Sponsors-image" ng-click="open('https://atomicobject.com/')" src="images/sponsors/atomicobject.png" alt="Atomic Object">
              </div>
              <div layout="row" layout-align="center center" layout-xs="column">
                <img class="gdg-Sponsors-image" ng-click="open('https://www.gfs.com/en')" src="images/sponsors/gfs.jpg" alt="GFS">
                <img class="gdg-Sponsors-image" ng-click="open('http://collectiveidea.com/')" src="images/sponsors/collectiveidea.png" alt="Collective Idea">
                <img class="gdg-Sponsors-image" ng-click="open('http://golightspeed.com/gr.html')" src="images/sponsors/lightspeed.png" alt="Light Speed">
              </div>
            </md-content>
          </md-tab>
          <md-tab label="Bronze">
            <md-content class="md-padding">
              <div layout="row" layout-align="center center" layout-xs="column">
                <img class="gdg-Sponsors-image" ng-click="open('https://www.teksystems.com/en')" src="images/sponsors/teksystems.png" alt="TekSystems">
              </div>
            </md-content>
          </md-tab>
          <md-tab label="Partners">
            <md-content class="md-padding">
              <div layout="row" layout-align="center center" layout-xs="column">
                <img class="gdg-Sponsors-image" ng-click="open('http://newhollandbrew.com/')" src="images/sponsors/newhollandbrewing.png" alt="New Holland Brewing">
                <img class="gdg-Sponsors-image" ng-click="open('http://www.propagandadoughnuts.com/')" src="images/sponsors/propaganda.png" alt="Propaganda Donuts">
                <img class="gdg-Sponsors-image" ng-click="open('http://lanterncoffee.com/')" src="images/sponsors/lantern.png" alt="Lantern Coffee">
              </div>
              <div layout="row" layout-align="center center" layout-xs="column">
                <img class="gdg-Sponsors-image" ng-click="open('http://www.silkscreenmarketing.com/')" src="images/sponsors/silkscreen.png" alt="Silkscreen Marketing">
                <img class="gdg-Sponsors-image" ng-click="open('http://www.extra-life.org/')" src="images/sponsors/extralife.png" alt="Extra Life Foundation">
              </div>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>

    <div class="gdg-Content-text" id="about">
      You might want to know about us too!
    </div>

    <div class="gdg-Organizers" layout="column">
      <div class="gdg-Organizer-wrapper" layout="row">
        <div class="gdg-Organizer-profile" layout="row" layout-align="start">
          <div class="gdg-Organizer-imageWrapper gdg-Organizer-imageWrapper--rotateLeft" layout="row">
            <div layout="column">
              <img class="gdg-Organizer-image" src="images/organizers/carlus_henry.png" alt="Carlus Henry">
              <div class="gdg-Organizer-nameText">Carlus</div>
              <div class="gdg-Organizer-nameText">Henry</div>
            </div>
            <div layout="column">
              <img class="gdg-Organizer-image" src="images/organizers/dan_mikita.png" alt="Dan Mikita">
              <div class="gdg-Organizer-nameText">Dan</div>
              <div class="gdg-Organizer-nameText">Mikita</div>
            </div>
            <div layout="column">
              <img class="gdg-Organizer-image" src="images/organizers/ashley_mikita.png" alt="Ashley Mikita">
              <div class="gdg-Organizer-nameText">Ashley</div>
              <div class="gdg-Organizer-nameText">Mikita</div>
            </div>
            <div layout="column">
              <img class="gdg-Organizer-image" src="images/organizers/dan_mccracken.png" alt="Dan McCracken">
              <div class="gdg-Organizer-nameText">Dan</div>
              <div class="gdg-Organizer-nameText">McCracken</div>
            </div>
          </div>
        </div>
        <div class="gdg-Organizer-descriptionText"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
      </div>
      <div class="gdg-Organizer-wrapper" layout="row">
        <div class="gdg-Organizer-descriptionText"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
        <div class="gdg-Organizer-profile" layout="row" layout-align="end">
          <div class="gdg-Organizer-titleText">Board Member</div>
          <div class="gdg-Organizer-imageWrapper gdg-Organizer-imageWrapper--rotateRight" layout="column">
            <img class="gdg-Organizer-image" src="images/organizers/lindsay_mikita.jpg" alt="Lindsay Mikita">
            <div class="gdg-Organizer-nameText">Lindsay Mikita</div>
          </div>
        </div>
      </div>
      <div class="gdg-Organizer-wrapper" layout="row">
        <div class="gdg-Organizer-profile" layout="row" layout-align="start">
          <div class="gdg-Organizer-imageWrapper gdg-Organizer-imageWrapper--rotateLeft" layout="column">
            <img class="gdg-Organizer-image" src="images/organizers/jeff_ekdom.jpg" alt="Jeff Ekdom">
            <div class="gdg-Organizer-nameText">Jeff Ekdom</div>
          </div>
          <div class="gdg-Organizer-titleText">Board Member</div>
        </div>
        <div class="gdg-Organizer-descriptionText"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
      </div>
      <div class="gdg-Organizer-wrapper" layout="row">
        <div class="gdg-Organizer-descriptionText"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
        <div class="gdg-Organizer-profile" layout="row" layout-align="end">
          <div class="gdg-Organizer-titleText">Board Member</div>
          <div class="gdg-Organizer-imageWrapper gdg-Organizer-imageWrapper--rotateRight" layout="column">
            <img class="gdg-Organizer-image" src="images/organizers/jeff_williams.jpg" alt="Jeff Williams">
            <div class="gdg-Organizer-nameText">Jeff Williams</div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="gdg-Footer">
    <div class="gdg-Footer-iconsWrapper" layout="column" layout-align="center center">
      <div layout="row" class="gdg-Footer-icons">
        <div class="gdg-Footer-iconWrapper">
          <md-button class="md-primary md-hue-1 md-icon-button" aria-label="Twitter" ng-href="https://twitter.com/gdggrandrapids" target="_blank">
            <svg class="gdg-Footer-icon" width="24" height="24" viewBox="0 0 24 24"><path d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z" /></svg>
            <md-tooltip md-direction="top">
              Twitter
            </md-tooltip>
          </md-button>
        </div>
        <div class="gdg-Footer-iconWrapper">
          <md-button class="md-primary md-hue-1 md-icon-button" aria-label="Google Plus" ng-href="https://plus.google.com/116106643420425488667/about" target="_blank">
            <svg class="gdg-Footer-icon" width="24" height="24" viewBox="0 0 24 24"><path d="M23,11H21V9H19V11H17V13H19V15H21V13H23M8,11V13.4H12C11.8,14.4 10.8,16.4 8,16.4C5.6,16.4 3.7,14.4 3.7,12C3.7,9.6 5.6,7.6 8,7.6C9.4,7.6 10.3,8.2 10.8,8.7L12.7,6.9C11.5,5.7 9.9,5 8,5C4.1,5 1,8.1 1,12C1,15.9 4.1,19 8,19C12,19 14.7,16.2 14.7,12.2C14.7,11.7 14.7,11.4 14.6,11H8Z" /></svg>
            <md-tooltip md-direction="top">
              Google Plus
            </md-tooltip>
          </md-button>
        </div>
        <div class="gdg-Footer-iconWrapper">
          <md-button class="md-primary md-hue-1 md-icon-button" aria-label="Github" ng-href="https://github.com/GDG-Grand-Rapids" target="_blank">
            <svg class="gdg-Footer-icon" width="24" height="24" viewBox="0 0 24 24"><path d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" /></svg>
            <md-tooltip md-direction="top">
              Github
            </md-tooltip>
          </md-button>
        </div>
        <div class="gdg-Footer-iconWrapper">
          <md-button class="md-primary md-hue-1 md-icon-button" aria-label="Facebook" ng-href="https://www.facebook.com/googledevelopersgrandrapids/" target="_blank">
            <svg class="gdg-Footer-icon" width="24" height="24" viewBox="0 0 24 24"><path d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z" /></svg>
            <md-tooltip md-direction="top">
              Facebook
            </md-tooltip>
          </md-button>
        </div>
        <div class="gdg-Footer-iconWrapper">
          <md-button class="md-primary md-hue-1 md-icon-button" aria-label="Meetup" ng-href="http://www.meetup.com/GDG-Grand-Rapids/" target="_blank">
            <svg class="gdg-Footer-icon" width="24" height="24" viewBox="0 0 24 24"><path d="M19,19H5V8H19M19,3H18V1H16V3H8V1H6V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3M16.53,11.06L15.47,10L10.59,14.88L8.47,12.76L7.41,13.82L10.59,17L16.53,11.06Z" /></svg>
            <md-tooltip md-direction="top">
              Meetup
            </md-tooltip>
          </md-button>
        </div>
      </div>
      <div class="gdg-Footer-text">Follow Us</div>
    </div>
  </div>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    ! function(A, n, g, u, l, a, r) {
      A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
          (A[l].q = A[l].q || []).push(arguments)
        }, A[l].l = +new Date, a = n.createElement(g),
        r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-73548015-1', 'auto');
    ga('send', 'pageview');
  </script>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/countdownclock.js"></script>
  <script src="scripts/map.js"></script>
  <!-- endbuild -->

  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
</body>

</html>
