<!doctype html>
<html ng-app="gdgWebappApp">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.5/angular-material.min.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,400'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Product+Sans'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Quicksand'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Amatic+SC'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Coming+Soon'>
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/media.css">
  <!-- endbuild -->
</head>

<body ng-controller="AppCtrl as app">
  <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <div class="gdg-Toolbar">
    <div>
      <div>
        <img class="gdg-Toolbar-image" ng-src="images/banner/gdg-logo.731f0442.png" alt="Logo">
        <!-- <img class="gdg-Toolbar-image" ng-src="images/banner/gdg-logo.png" alt="Logo"> -->
      </div>
      <div class="md-toolbar-tools">
        <span flex></span>
        <md-button class="gdg-Toolbar-button" md-no-ink ng-click="scrollToTop()">Home</md-button>
        <md-button class="gdg-Toolbar-button" md-no-ink ng-click="gotoElement('map')">Map</md-button>
        <md-button class="gdg-Toolbar-button" md-no-ink ng-click="gotoElement('about')">About</md-button>
        <md-button class="gdg-Toolbar-button" md-no-ink ng-click="gotoElement('sponsors')">Sponsors</md-button>
        <md-button class="gdg-Toolbar-button" target="_blank" md-no-ink ng-href="https://www.eventbrite.com/e/google-io-extended-grand-rapids-2017-tickets-32520549840">Register</md-button>
        <md-button class="gdg-Toolbar-button" target="_blank" md-no-ink ng-href="mailto:hello@gdggr.org">Contact</md-button>
        <div class="gdg-PaypalButton">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="58VZ3G8JDUDYN">
            <input type="image" class="gdg-PaypalButton-image" src="http://gdggr.org/images/buttons/paypal.cebf9951.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
          <md-tooltip md-direction="bottom">
            Donate Now
          </md-tooltip>
        </div>
      </div>
    </div>
  </div>

  <div class="gdg-Header gdg-Header--large gdg-Header--small">
    <div class="gdg-Header">
      <img class="gdg-Header gdg-Header-image" ng-src="images/banner/gvsu.d479d68b.jpg" alt="Background">
      <!-- <img class="gdg-Header gdg-Header-image" ng-src="images/banner/harris.jpg" alt="Background"> -->
      <div class="gdg-Header gdg-Header-imageFilter"></div>
    </div>
    <div class="gdg-Header-content">
      <div class="gdg-Header-text">
        Google I/O Extended
      </div>
      <!-- <div class="gdg-CountDownClock">
        <div class="gdg-CountDownClock-clock" id="clock" layout="row" layout-align="center">
          <div class="gdg-CountDownClock-time" flex>
            <span class="days"></span>
            <div class="gdg-CountDownClock-text">Days</div>
          </div>
          <div class="gdg-Header-verticalLine gdg-CountDownClock-hide"></div>
          <div class="gdg-CountDownClock-time gdg-CountDownClock-hide" flex>
            <span class="hours"></span>
            <div class="gdg-CountDownClock-text">Hours</div>
          </div>
          <div class="gdg-Header-verticalLine gdg-CountDownClock-hide"></div>
          <div class="gdg-CountDownClock-time gdg-CountDownClock-hide" flex>
            <span class="minutes"></span>
            <div class="gdg-CountDownClock-text">Minutes</div>
          </div>
          <div class="gdg-Header-verticalLine gdg-CountDownClock-hide"></div>
          <div class="gdg-CountDownClock-time gdg-CountDownClock-hide" flex>
            <span class="seconds"></span>
            <div class="gdg-CountDownClock-text">Seconds</div>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <div class="gdg-Content" layout="column">
    <div class="gdg-Map" layout="column" layout-xs="column">
      <md-button class="gdg-Map-button md-fab md-accent" ng-href="https://www.google.com/maps/dir/My+Location/Grand+Valley+State+University:+Pew+Campus,+401+Fulton+Street+West,+Grand+Rapids,+MI+49504/@42.9629278,-85.6788385,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x8819addbe1f31eef:0xd8e0fe2dcf065680!2m2!1d-85.6807271!2d42.963707!3e0"
        target="_blank" aria-label="Directions">
        <!-- <md-icon md-svg-src="images/icons/directions.svg"></md-icon> -->
        <md-icon md-svg-src="images/icons/directions.ec7554ce.svg"></md-icon>
        <md-tooltip md-direction="left">
          Directions
        </md-tooltip>
      </md-button>
      <div id="map-text">
        <span class="gdg-Map-text gdg-Map-textHeader">Loosemore Auditorium</span>
        <br/>
        <span class="gdg-Map-text gdg-Map-textBody">May 17th</span>
        <br/>
        <span class="gdg-Map-text gdg-Map-textBody">8am - 5pm</span>
      </div>
      <div id="map" flex></div>
    </div>

    <div class="gdg-Content-text" id="about">
      Our event is approaching and there's a couple of things you should consider!
    </div>

    <div class="gdg-Content-cards" layout="row" layout-xs="column" layout-align="space-around">
      <div class="gdg-Content-cardWrapper">
        <md-card class="gdg-Content-card">
          <!-- <img class="md-card-image gdg-Content-disableImage" ng-src="images/banner/harris.jpg" alt="Background"> -->
          <img class="md-card-image" ng-src="images/banner/gvsu5.c5bd5565.jpg" alt="Background">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Schedule</span>
              <span class="md-subhead">We live-stream the Google I/O Keynote and fill the rest of your day with live presentations from local and regional speakers spanning design, development, and local start-ups.</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-actions class="gdg-Content-buttonWrapper" layout="row" layout-align="center center">
            <md-button class="gdg-Content-button md-raised md-accent" target="_blank" href="https://drive.google.com/open?id=0B6_8uGBdqf45T3NMejR5ZU9jcjg" ng-disabled="true">Event Schedule</md-button>
          </md-card-actions>
        </md-card>
      </div>
      <div class="gdg-Content-cardWrapper">
        <md-card class="gdg-Content-card">
          <!-- <img class="md-card-image" ng-src="images/banner/harris.jpg" alt="Background"> -->
          <img class="md-card-image" ng-src="images/banner/gvsu3.e76ce79f.jpg" alt="Background">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Register</span>
              <span class="md-subhead">Google I/O is approaching! And our extended event is approaching with it. Purchase a ticket below.</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-actions class="gdg-Content-buttonWrapper" layout="row" layout-align="center center">
            <md-button target="_blank" class="gdg-Content-button md-raised md-accent" href="https://www.eventbrite.com/e/google-io-extended-grand-rapids-2017-tickets-32520549840" ng-disabled="true">Register Now</md-button>
          </md-card-actions>
        </md-card>
      </div>
      <div class="gdg-Content-cardWrapper">
        <md-card class="gdg-Content-card">
          <!-- <img class="md-card-image" ng-src="images/banner/harris.jpg" alt="Background"> -->
          <img class="md-card-image" ng-src="images/banner/gvsu4.40492049.jpg" alt="Background">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Sponsors</span>
              <span class="md-subhead">Our sponsors are what allows us to bring great content to you. We couldn't do it without them! If you're interested in becoming a sponsor, download our sponsorship packet today!</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-actions class="gdg-Content-buttonWrapper" layout="row" layout-align="center center">
            <md-button target="_blank" class="gdg-Content-button md-raised md-accent" href="https://drive.google.com/open?id=0B6_8uGBdqf45RFBGSmU5ZUc1d0E" ng-disabled="true">Download</md-button>
          </md-card-actions>
        </md-card>
      </div>
    </div>

    <!-- Last years speaker section
    <div class="gdg-Content-text">
      Here's a preview for our upcoming speakers at our Google I/O Extended event
    </div>

    <div class="gdg-Speakers" layout="column">
      <div layout="row">
        <div class="gdg-Speaker-imageRowWrapper" layout="row" layout-xs="column">
          <div class="gdg-Speaker-title"><b>Feeding a Hungry City: The Future of Eco-Friendly Mobile Food</div>
          <div class="gdg-Speaker-imageWrapper">
            <div>
              <img class="gdg-Speaker-image" ng-src="images/presenters/james_meeks.1652a56a.jpg" alt="James Meeks">
            </div>
            <div class="gdg-Speaker-text"><b>James Meeks</b>, President & CEO <a href="https://www.movesystems.com" target="_blank">MOVE Systems</a></div>
          </div>
        </div>
      </div>
  </div>
  -->

    <div class="gdg-Content-text" id="sponsors">
      Here's a list of our sponsors
    </div>

    <div class="gdg-Sponsors" layout="column">
      <md-content>
        <md-tabs class="gdg-Sponsors-tabs md-accent" md-selected="selectedIndex" md-center-tabs="true" md-border-bottom>
          <md-tab label="Gold">
            <md-content class="md-padding">
              <div layout="row" layout-align="center center" layout-xs="column">
                <img class="gdg-Sponsors-image" ng-click="open('http://www.bravolt.com/')" ng-src="images/sponsors/bravolt.9b8ce560.png" alt="Bravo LT">
                <img class="gdg-Sponsors-image" ng-click="open('http://www.cis.gvsu.edu/')" ng-src="images/sponsors/gvsu.4679b403.png" alt="Grand Valley State University">
                <img class="gdg-Sponsors-image" ng-click="open('http://www.spectrumhealth.org/')" ng-src="images/sponsors/spectrum.864e0a91.png" alt="Spectrum Health">
              </div>
            </md-content>
          </md-tab>
          <md-tab label="Silver">
            <md-content class="md-padding">
              <div layout="row" layout-align="center center" layout-xs="column">
                <img class="gdg-Sponsors-image" ng-click="open('http://www.bizstream.com/')" ng-src="images/sponsors/bizstream.26fad86c.png" alt="BizStream">
                <img class="gdg-Sponsors-image" ng-click="open('http://www.blujaysolutions.com/')" ng-src="images/sponsors/bluJay_solutions.467f0507.png" alt="BluJay Solutions">
              </div>
            </md-content>
            <md-content class="md-padding">
              <div layout="row" layout-align="center center" layout-xs="column">
                <img class="gdg-Sponsors-image" ng-click="open('https://www.gfs.com/en')" ng-src="images/sponsors/gordon_food_service.f989fd4e.png" alt="Gordon Food Service">
                <img class="gdg-Sponsors-image" ng-click="open('http://www.twisthink.com/')" ng-src="images/sponsors/twisthink.ff05f49a.png" alt="twisthink">
              </div>
            </md-content>
          </md-tab>
          <md-tab label="Partners">
            <md-content class="md-padding">
              <div layout="row" layout-align="center center" layout-xs="column">
                <img class="gdg-Sponsors-image" ng-click="open('http://www.extra-life.org/')" ng-src="images/sponsors/extralife.b60d28fe.png" alt="Extra Life Foundation">
              </div>
            </md-content>
          </md-tab>
        </md-tabs>
      </md-content>
    </div>

    <!-- <div class="gdg-Content-text">
      You might want to know about us too!
    </div>

    <div class="gdg-Organizers" id="about">
      <img class="gdg-Organizers-portraitImage" ng-src="images/banner/harris.jpg" alt="Background">
    </div> -->

  </div>

  <div class="gdg-Footer gdg-Footer--small">
    <div class="gdg-Footer-box" layout="column" layout-align="center center">
      <div layout="row" class="gdg-SocialMediaButtons">
        <div class="gdg-wrapSocialMediaButton">
          <md-button class="md-primary md-hue-1 md-icon-button" aria-label="Twitter" ng-href="https://twitter.com/gdggrandrapids" target="_blank">
            <md-icon md-svg-src="images/icons/twitter.a59e6b76.svg" aria-label="Twitter"></md-icon>
            <!-- <md-icon md-svg-src="images/icons/twitter.svg" aria-label="Twitter"></md-icon> -->
            <md-tooltip md-direction="top">
              Twitter
            </md-tooltip>
          </md-button>
        </div>
        <div class="gdg-wrapSocialMediaButton">
          <md-button class="md-primary md-hue-1 md-icon-button" aria-label="Google Plus" ng-href="https://plus.google.com/116106643420425488667/about" target="_blank">
            <md-icon md-svg-src="images/icons/google-plus.8f170833.svg" aria-label="Google Plus"></md-icon>
            <!-- <md-icon md-svg-src="images/icons/google-plus.svg" aria-label="Google Plus"></md-icon> -->
            <md-tooltip md-direction="top">
              Google Plus
            </md-tooltip>
          </md-button>
        </div>
        <div class="gdg-wrapSocialMediaButton">
          <md-button class="md-primary md-hue-1 md-icon-button" aria-label="Github" ng-href="https://github.com/GDG-Grand-Rapids" target="_blank">
            <md-icon md-svg-src="images/icons/github-circle.231d7cad.svg" aria-label="Github"></md-icon>
            <!-- <md-icon md-svg-src="images/icons/github-circle.svg" aria-label="Github"></md-icon> -->
            <md-tooltip md-direction="top">
              Github
            </md-tooltip>
          </md-button>
        </div>
        <div class="gdg-wrapSocialMediaButton">
          <md-button class="md-primary md-hue-1 md-icon-button" aria-label="Facebook" ng-href="https://www.facebook.com/googledevelopersgrandrapids/" target="_blank">
            <md-icon md-svg-src="images/icons/facebook.c3e23151.svg" aria-label="Facebook"></md-icon>
            <!-- <md-icon md-svg-src="images/icons/facebook.svg" aria-label="Facebook"></md-icon> -->
            <md-tooltip md-direction="top">
              Facebook
            </md-tooltip>
          </md-button>
        </div>
        <div class="gdg-wrapSocialMediaButton">
          <md-button class="md-primary md-hue-1 md-icon-button" aria-label="Meetup" ng-href="http://www.meetup.com/GDG-Grand-Rapids/" target="_blank">
            <md-icon md-svg-src="images/icons/calendar-check.09b470a8.svg" aria-label="Meetup"></md-icon>
            <!-- <md-icon md-svg-src="images/icons/calendar-check.svg" aria-label="Meetup"></md-icon> -->
            <md-tooltip md-direction="top">
              Meetup
            </md-tooltip>
          </md-button>
        </div>
      </div>
      <div class="gdg-Footer-text">Follow Us</div>
    </div>
  </div>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    ! function(A, n, g, u, l, a, r) {
      A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
          (A[l].q = A[l].q || []).push(arguments)
        }, A[l].l = +new Date, a = n.createElement(g),
        r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-73548015-1', 'auto');
    ga('send', 'pageview');
  </script>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/app.js"></script>
  <script src="scripts/countdownclock.js"></script>
  <script src="scripts/map.js"></script>
  <!-- endbuild -->

  <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
</body>

</html>
