<div class="about" layout="column" ng-controller="AboutCtrl as about">
  <div layout="row" layout-xs="column" layout-align="center">
    <div class="portrait-container" layout="column" ng-repeat="organizer in app.organizersRow1">
      <div class="circle-container">
        <div class="circle">
          <img class="front" ng-src="images/portraits/stock_photo_portrait.png">
          <div class="back">
            <p>{{organizer.title}}</p>
          </div>
        </div>
      </div>
      <div class="portrait-name">{{organizer.name}}</div>
    </div>
  </div>
  <div class="portrait-bottom-row" layout="row" layout-xs="column" layout-align="center">
    <div class="portrait-container" layout="column" ng-repeat="organizer in app.organizersRow2">
      <div class="circle-container">
        <div class="circle">
          <img class="front" ng-src="images/portraits/stock_photo_portrait.png">
          <div class="back">
            <p>{{organizer.title}}</p>
          </div>
        </div>
      </div>
      <div class="portrait-name">{{organizer.name}}</div>
    </div>
  </div>
</div>
