<div ng-controller="EventsCtrl as events" layout="column">
  <div id="event-container">
    <p id="title">Events</p>
  </div>
  <div id="countdown-clock-container" layout-align="center">
    <div>
      <span class="days"></span>
      <div class="smalltext">Days</div>
    </div>
    <div>
      <span class="hours"></span>
      <div class="smalltext">Hours</div>
    </div>
    <div>
      <span class="minutes"></span>
      <div class="smalltext">Minutes</div>
    </div>
    <div>
      <span class="seconds"></span>
      <div class="smalltext">Seconds</div>
    </div>
  </div>
  <div id="map-container">
    <md-button id="map-directions-button" class="md-fab md-primary" ng-href="https://www.google.com/maps/dir//Eberhard+Center+GVSU,+301+Fulton+W,+Grand+Rapids,+MI+49504,+United+States/@42.964411,-85.677043,19z/data=!4m12!1m3!3m2!1s0x0:0x65a65fb96556f343!2sEberhard+Center+GVSU!4m7!1m0!1m5!1m1!1s0x8819addbeaf94245:0x65a65fb96556f343!2m2!1d-85.6769997!2d42.9644113?hl=en-US"
      target="_blank" aria-label="Directions">
      <md-icon md-svg-src="images/icons/directions.svg"></md-icon>
      <md-tooltip md-direction="left">
        Directions
      </md-tooltip>
    </md-button>
    <div id="map-text">
      <p>
        <div id="map-text-header">Google I/O Extended GR</div>
        <br/>
        <div class="map-text-body" id="event-date-text">
          May 18th
        </div>
        <br/>
        <br/>
        <div class="map-text-body" id="event-location-text">Eberhard Center GVSU</div>
      </p>
    </div>
    <div id="map"></div>
  </div>
</div>

<script>
  function initMap() {
    var styles = [{
      stylers: [{
        hue: "#006064"
      }, {
        saturation: -75
      }]
    }];
    var styledMap = new google.maps.StyledMapType(styles, {
      name: "Styled Map"
    });
    var myLatLng = {
      lat: 42.964411,
      lng: -85.677043
    };
    var mapOptions = {
      zoom: 15,
      center: myLatLng,
      draggable: false,
      scrollwheel: false,
      scaleControl: true,
      zoomControlOptions: {
        position: google.maps.ControlPosition.LEFT_BOTTOM
      },
      streetViewControlOptions: {
        position: google.maps.ControlPosition.LEFT_BOTTOM
      },
      mapTypeControlOptions: {
        mapTypeIds: [google.maps.MapTypeId.ROADMAP, 'map_style']
      }
    };
    var mapText = document.getElementById('map-text');
    var map = new google.maps.Map(document.getElementById('map'),
      mapOptions);
    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: 'Google I/O'
    });
    map.mapTypes.set('map_style', styledMap);
    map.setMapTypeId('map_style');
    map.controls[google.maps.ControlPosition.LEFT_TOP].push(mapText);
  }
</script>

<script>
  function getTimeRemaining(endtime) {
    var t = Date.parse(endtime) - Date.parse(new Date());
    var seconds = Math.floor((t / 1000) % 60);
    var minutes = Math.floor((t / 1000 / 60) % 60);
    var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
    var days = Math.floor(t / (1000 * 60 * 60 * 24));
    return {
      'total': t,
      'days': days,
      'hours': hours,
      'minutes': minutes,
      'seconds': seconds
    };
  }

  function initializeClock(id, endtime) {
    var clock = document.getElementById(id);
    var daysSpan = clock.querySelector('.days');
    var hoursSpan = clock.querySelector('.hours');
    var minutesSpan = clock.querySelector('.minutes');
    var secondsSpan = clock.querySelector('.seconds');

    function updateClock() {
      var t = getTimeRemaining(endtime);

      daysSpan.innerHTML = t.days;
      hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
      minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
      secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

      if (t.total <= 0) {
        clearInterval(timeinterval);
      }
    }

    updateClock();
    var timeinterval = setInterval(updateClock, 1000);
  }

  function parseDate(input) {
    var parts = input.split('-');
    // new Date(year, month [, day [, hours[, minutes[, seconds[, ms]]]]])
    return new Date(parts[0], parts[1] - 1, parts[2]); // Note: months are 0-based
  }

  var deadline = new Date(parseDate('2016-05-18') + 15 * 24 * 60 * 60 * 1000);
  initializeClock('countdown-clock-container', deadline);
</script>

<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
