<div class="gdg-Content" layout="column">
  <div layout="row" layout-xs="column">
    <div class="gdg-Content-info" flex>
      <div class="gdg-Content-textHeader">Speakers</div>
      <p class="gdg-Content-textParagraph">We need speakers! If you're interested in a speaking opportunity at our Google I/O Extended event, fill out our form and and we will get back to you.</p>
      <div class="gdg-Content-buttonWrapper">
        <md-button target="_blank" class="gdg-Content-button md-raised md-accent" href="https://docs.google.com/forms/d/18gNE26AxJ1VgFJTWyJbCLx-eOAdTYUZT4ar5H9qlqxI/viewform">Sign Up</md-button>
      </div>
    </div>
    <div class="gdg-Content-info" flex>
      <div class="gdg-Content-textHeader">Register</div>
      <p class="gdg-Content-textParagraph">Google I/O is approaching! And our extended event is approaching with it. Purchase a ticket below.</p>
      <div class="gdg-Content-buttonWrapper">
        <md-button target="_blank" class="gdg-Content-button md-raised md-accent" href="https://www.eventbrite.com/e/google-io-extended-grand-rapids-2016-registration-21971803255">Register Now</md-button>
      </div>
    </div>
    <div class="gdg-Content-info" flex>
      <div class="gdg-Content-textHeader">Sponsors</div>
      <p class="gdg-Content-textParagraph">Our sponsors are what allows us to bring great content to you. We couldn't do it without them! If you're interested in becoming a sponsor, download our sponsorship packet today!</p>
      <div class="gdg-Content-buttonWrapper">
        <md-button target="_blank" class="gdg-Content-button md-raised md-accent" href="/images/documents/sponsorship_prospectus.pdf">Download</md-button>
      </div>
    </div>
  </div>
</div>
