<div ng-controller="HomeCtrl as home">
  <div id="intro-container">
    <p id="title">Who We Are</p>
    <div id="body">
      <p>Welcome to the Grand Rapids and Western Michigan Google Developers Group. We are excited about our opportunity to bring you the very best in Google and Android Technology including App demo's, how to's, tutorials, featured speakers and much more.
        Of course networking with other West Michigan Android and Google Technology developers is a major function of our once monthly meeting. Stay tuned for important updates about our meeting locations, date and times. Thank You!</p>
    </div>
  </div>
  <hr>
  <div id="event-container">
    <p id="title">Events</p>
    <div id="body">
      <p>So there's a couple of things you need to know.</p>
      <p>One of our events is approaching.</p>
      <p>And we need speakers!</p>
    </div>
  </div>
  <hr>
  <div id="sponsors-container">
    <p id="title">Sponsors</p>
    <div id="body">
      <p>Our sponsors are what allows us to bring great content to you. We couldn't do it without them.</p>
      <p>Here's our platinum sponsors:</p>
      <div class="sponsors sponsors-platinum" layout="row" layout-align="center center">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div>
        <!-- <md-button id="sponsorship-link-button" ng-click="go('/sponsors'); scrollToTop(); home = false">>> More of Sponsors</md-button> -->
      </div>
    </div>
  </div>
</div>
