<div id="intro-container">
  <p id="title">Who We Are</p>
  <div id="body">
    <p>Hi! You're meeting us for the first time. And we're excited!</p>
    <p>We love technology and are guessing you do too!</p>
    <p>Google Developer Groups (GDGs) are for developers who are interested in Google's developer technology; everything from the Android, App Engine, and Google Chrome platforms, to product APIs like the Maps API, YouTube API and Google Calendar API.</p>
  </div>
</div>
<hr>
<div id="event-container">
  <p id="title">Events</p>
  <div id="body">
    <p>So there's a couple of things you need to know.</p>
    <p>One of our events is approaching.</p>
  </div>
</div>
<hr>
<div id="sponsors-container">
  <p id="title">Sponsors</p>
  <div id="body">
    <p>Our sponsors are what allows us to bring great content to you. We couldn't do it without them.</p>
    <p>Here's our premium sponsors:</p>
    <div><md-button id="sponsorship-link-button">>> More of Sponsors</md-button></div>
  </div>
</div>
