<div ng-controller="SponsorCtrl as sponsor" id="sponsors-container">
  <div id="body">
    <p>If your organization is interested in joining our growing list of sponsors, please contact us.</p>
    <div>
      <md-button target="_blank" id="sponsorship-packet-button" class="md-raised md-primary" href="/images/documents/sponsorship_prospectus.pdf">Download Our Sponsorship Packet</md-button>
    </div>
    <hr>
    <div id="sponsors-list" layout="column">
      <div id="sponsors-text">Platinum</div>
      <div class="sponsors sponsors-platinum" layout="row" layout-align="center center">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <hr>
      <div id="sponsors-text">Gold</div>
      <div class="sponsors sponsors-gold" layout="row" layout-align="center center">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <hr>
      <div id="sponsors-text">Silver</div>
      <div class="sponsors sponsors-silver" layout="row" layout-align="center center">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <hr>
      <div id="sponsors-text">Bronze</div>
      <div class="sponsors sponsors-bronze" layout="row" layout-align="center center">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>
